:root {
  --cor-4: #CCCCCC;
  --cor-5: #B2B2B2;
  --cor-10: #2E2E2E;

  --cor-d1: #FBEFFF;
  --cor-d5: #7D3F92;
  --cor-d7: #300041;
}

.cor-4 {
  color: var(--cor-4);
}

.cor-5 {
  color: var(--cor-5);
}

.cor-10 {
  color: var(--cor-10);
}

.cor-d1 {
  color: #FBEFFF;
}

.cor-d5 {
  color: var(--cor-d5);
}

.cor-d7 {
  color: var(--cor-d7);
}


