.cart-bg {
  background: var(--cor-2);
}

.cart {
  display: grid;
  grid-template-columns: 7fr 5fr;
  gap: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.cart h1 {
  grid-column: 1 / -1;
}

.cart-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-button {
  cursor: pointer;
  padding: 8px;
  margin-top: 12px;
  border: 1px solid var(--cor-12);
  border-radius: 7px;
  background: var(--cor-d5);
}


/* RESUMO, ENDERECO e PAGAMENTO */
.cart-summary,
.cart-shipping,
.cart-payment {
  padding: 20px;
  border: 1px solid var(--cor-3);
  background: var(--cor-0);
}

