.cart-shipping-container{
  margin-top: 12px;
}

.cart-shipping > h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-edit-shipping:hover {
  font-weight: 500;
  cursor: pointer;
}

.cart-address-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cart-address-item {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 8px;
  padding: 10px;
  border: 1px solid var(--cor-6);
  cursor: pointer;
}

.cart-address-item::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid var(--cor-12);
  border-radius: 50%;
  grid-row: 1 / 5;
  align-self: center;
}

.cart-address-item label {
  margin-bottom: 4px;
}

.cart-button-newaddress {
  padding-top: 4px;
  padding-bottom: 4px;
}

/* Adiciona estilo quando o endereço é selecionado */
.cart-address-item.selecionado {
  background: var(--cor-d1);
}

.cart-address-item.selecionado::before {
  box-shadow: inset 0 0 0 2px var(--cor-d1), 
              inset 0 0 0 9px var(--cor-10);
}

.cart-shipping-rates {
  margin-top: 10px;
}

.cart-shipping-rates h2 {
  margin-bottom: 10px;
}

.cart-shipping-rates label {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.cart-shipping-rates label::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
  border: 1px solid var(--cor-12);
}

/* Adiciona estilo quando o frete é selecionado */
.cart-shipping-rates input:checked + label::before {
  box-shadow: inset 0 0 0 2px var(--cor-0), 
              inset 0 0 0 7px var(--cor-10);
}

/* ATIVADOR */
[data-cart="shipping"] {
  display: none;
}

[data-cart="shipping-active"] {
  display: initial;
}


[data-cart="shipping-container"] {
  display: none;
}

[data-cart="shipping-container-active"] {
  display: grid;
}

[data-cart="edit-shipping"] {
  display: none;
}

[data-cart="edit-shipping-active"] {
  display: initial;
}
