.progress-bar {
  width: 0vw;
  height: 6px;
  background: var(--cor-d5);
}

.register-step {
  display: block;
  text-align: center;
  padding-top: 20px;
}

.register-account {
  padding-top: 20px;
  padding-bottom: 60px;
}

.register-account label,
.register-account button {
  display: block;
}

.register-account button {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  border-radius: 5px;
  background:linear-gradient(#B667CB, #7D3F92);
}

.register-account label {
  margin-top: 12px;
}

.register-account input {
  width: 260px;
  margin-top: 4px;
  padding: 6px;
  border: 1px solid var(--cor-6);
  border-radius: 5px;
  box-sizing: border-box;
}

.register-form {
  display: flex;
  justify-content: center;
}

.register-form-address {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.register-cep input {
  width: 100px;
}

.register-rua {
  display: grid;
  grid-template-columns:auto auto;
  column-gap: 20px;
}

.register-rua div:nth-child(2) input{
  width: 60px;
  text-align: center;
}

.register-cidade {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 20px;
}

.register-complemento input {
  width: 340px;
}

.register-cidade div:first-child input,
.register-cidade div:nth-child(2) input {
  width: 120px;
}

.register-cidade div:nth-child(3) input {
  width: 60px;
  text-align: center;
}

.register-sucessfull {
  display: grid;
  justify-content: center;
  gap: 4px;
}



[data-register="step1"] {
  display: none;
}

[data-register="step1"].active {
  display: grid;
}

[data-register="step2"] {
  display: none;
}

[data-register="step2"].active {
  display: flex;
}

[data-register="step3"] {
  display: none;
}

[data-register="step3"].active {
  display: flex;
}

[data-register="sucessfull"] {
  display: none;
}

[data-register="sucessfull"].active {
  display: grid;
}


