.step-progress {
  width: 0vw;
  height: 6px;
  background: var(--cor-d5);
}

.step-progress.step1 {
  animation: step1 .3s forwards;
}

@keyframes step1 {
  from {
    width: 0vw;
  }

  to {
    width: 33vw;
  }
}

.step-progress.step2 {
  animation: step2 .3s forwards;
}

@keyframes step2 {
  from {
    width: 33vw;
  }

  to {
    width: 66vw;
  }
}

.step-progress.step3 {
  animation: step3 .3s forwards;
}

@keyframes step3 {
  from {
    width: 66vw;
  }

  to {
    width: 100vw;
  }
}

.password-strength{
  display: inline-block;
  position: relative;
  bottom: 2px;
  width: 0%;
  height: 4px;;
  background: var(--cor-d5);
}


.register-step {
  display: block;
  text-align: center;
  padding-top: 20px;
}

.register-account {
  padding-top: 20px;
  padding-bottom: 60px;
}

.register-account label,
.register-account button {
  display: block;
}

.register-account button {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  border-radius: 5px;
  background:linear-gradient(var(--cor-d4), var(--cor-d5));
  cursor: pointer;
}

.register-account button:hover {
  background:linear-gradient(var(--cor-d5), var(--cor-d6));
}

.register-account label {
  margin-top: 12px;
}

.container-form {
  justify-content: center;
}

.container-form input {
  width: 260px;
}

.register-cep input {
  width: 100px;
}

.register-rua {
  display: flex;
  gap: 20px;
}

.register-rua div:nth-child(2) input{
  width: 60px;
  text-align: center;
}

.register-cidade {
  display: flex;
  gap: 20px;
}

.register-complemento input {
  width: 340px;
}

.register-cidade div:first-child input,
.register-cidade div:nth-child(2) input {
  width: 120px;
}

.register-cidade div:nth-child(3) input {
  width: 60px;
  text-align: center;
}

.register-sucessfull {
  display: grid;
  justify-content: center;
  gap: 12px;
}

.user-data li + li {
  margin-top: 6px;
}

[data-register="step1"] {
  display: none;
}

[data-register="step1"].active {
  display: grid;
}

[data-register="step2"] {
  display: none;
}

[data-register="step2"].active {
  display: grid;
}

[data-register="step3"] {
  display: none;
}

[data-register="step3"].active {
  display: grid;
}

[data-register="sucessfull"] {
  display: none;
}

[data-register="sucessfull"].active {
  display: grid;
}


