[data-dropdown] {
    position: relative;
}

.menu-dropdown {
    display: none;
    position: absolute;
    top: 60px;

    font-weight: 400;
    border: 2px solid var(--cor-8);
    border-radius: 0px 0px 5px 5px;
    background: var(--cor-0);
    z-index: 10;
}

.menu-dropdown::after {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  right: 12px;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--cor-10);
}

.menu-dropdown.menu-products {
  left: -46px;
}

.menu-dropdown.menu-user {
  left: -98px;
}

/* .menu-dropdown li + li {
    margin-top: 15px;
} */

.menu-dropdown a,
.menu-dropdown .user-exit {
  padding: 20px;
  white-space: nowrap;
}

.menu-dropdown a {
  border-bottom: 1px solid var(--cor-d2);
}

.menu-dropdown li:hover {
    cursor: pointer;
    color: var(--cor-8);
}


@keyframes dropdown {
    from {
        opacity: 0;
        /* transform: translate3d(0, 20px, 0); */
    }

    to {
        opacity: 1;
        /* transform: translate3d(0, 0, 0); */
    }
}

/* Não ativa o hover em dispositivos mobile */
@media (hover: hover) {

  [data-dropdown]:hover .menu-dropdown {
    display: block;
    animation: dropdown .3s forwards;
  }
}

@media (max-width: 768px) {

  .menu-dropdown {  
    position: static;
    background: var(--cor-d1);
    border-radius: 0px;
    border: none;
  }

  .menu-dropdown::after {
    display: none;
  }

  [data-dropdown][data-show] .menu-dropdown {
    display: block;
  }
}
