.footer-bg {
  background: var(--cor-12);
}

.footer {
  padding-top: 60px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-dados p {
  padding-top: 12px;
  max-width: 30ch;
}

.footer-informacoes,
.footer-menu {
  justify-self: center;
}

.footer-redes {
  display: flex;
  gap: 12px;
  padding-top: 24px;

  grid-column: 1/-1;
}

.footer li:first-child {
  padding-top: 12px;
}

.footer li + li {
  padding-top: 8px;
}

.footer nav a:hover {
  color: var(--cor-3);
}

.footer-copyright {
  padding-top: 60px;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .footer {
    padding-top: 40px;
  }

  .footer-informacoes {
    justify-self: end;
  }
}

@media (max-width: 425px) {
  .footer {
    padding-top: 30px;
    grid-template-columns: 1fr 1fr;
  }

  .footer-dados {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
  }

  .footer-dados > p {
    grid-column: 2;
    padding-top: 0px;
  }

  .footer-redes {
    grid-column: 1/-1;
    justify-self: center;
    gap: 40px;
  }

  .footer-informacoes,
  .footer-menu {
    justify-self: center;
    padding-top: 40px;
  }

  .footer-copyright {
    grid-column: 1/-1;
  }
}

@media (max-width: 320px) {
  .footer {
    padding-top: 20px;
    grid-template-columns: 1fr;
  }

  .footer-informacoes,
  .footer-menu {
    justify-self: start;
    padding-top: 32px;
  }

  .footer-copyright {
    padding-top: 40px;
  }
}