body {
  font-family: "Roboto";
  height: 2000px;
}

body, h1, h2, h3, ul, p {
  margin: 0px;
  padding: 0px;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* label {
  padding: 0px;
  margin: 0px;
  border: none;
  background: none;
} */

input {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}