body {
  font-family: "Roboto";
  position: relative;
}

body, h1, h2, h3, ul, span, p {
  margin: 0px;
  padding: 0px;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* label {
  padding: 0px;
  margin: 0px;
  border: none;
  background: none;
} */

input[type=radio] {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

button {
  background: none;
  border: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  border: 1px solid var(--cor-6);
  /* margin-top: 4px; */
  padding: 6px;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
  border: 1px solid var(--cor-d5);
  box-shadow: 0 0 0 2px var(--cor-d4);
  animation: inputFocus .2s forwards;
}

@keyframes inputFocus {
  from {
  box-shadow: 0 0 0 0px var(--cor-d4);
  }

  to {
  box-shadow: 0 0 0 2px var(--cor-d4);

  }
}

.error {
  padding-top: 4px;
  /* top: 10px; */
  display: block;
  font: 400 .875rem/1.2 'Roboto';
  margin-top: 2px;
  margin-bottom: 4px;
  color: red;
}

.btn-container {
  position: absolute;
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
  color: var(--cor-d6);
  background: var(--cor-0);
}

[data-hide] {
  display: none !important;
}

.aviso {
  display: block;
  margin-top: 10px;
  text-align: center;
}
