header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#register header,
#login header {
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu {
  display: flex;
  gap: 40px;
  align-items: center;

  position: relative;
}

.menu a,
.menu .list-title{
  display: flex;
  align-items: center;
  gap: 8px;

  padding-top: 30px;
  padding-bottom: 30px;
}

.menu a:hover {
  cursor: pointer;
  color: var(--cor-8);
}

.img-carrinho {
  position: relative;
}

.cart-quantity {
  content: "0";
  color: #ffffff;
  font-size: .7rem;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;
  background: #7D3F92;
  position: absolute;
  left: 16px;
  bottom: 30px;
  border-radius: 50%;
}

[data-menu='button'] {
  display: none;
}

/* Menu secundario */

.header-secundario {
  padding: 10px 0px;
}

.menu-secundario {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.menu-secundario a {
  display: block;
  padding: 8px 0px;
}

.menu-secundario a:hover {
  color: var(--cor-d5);
}

.menu-secundario a.ativo {
  color: var(--cor-d5);
}

@media (max-width: 768px) {

  header {
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  header .logo {
    width: 120px;
  }

  [data-menu="button"] {
    display: initial;
  }

  [data-menu="list"] {
    display: none;
  }

  .mobile-button {
    padding: 8px;
    background: var(--cor-d5);
  }

  .menu {
    position: absolute;
    top: 80px;
    left: 0px;
    right: 0px;
    align-items: start;
    flex-direction: column;
    gap: 0px;
    z-index: 2;
  }

  .menu a,
  .menu .list-title{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .menu > li {
    border-bottom: 1px solid var(--cor-2);
  }

  .mobile-list {
    height: 100%;
    background: var(--cor-0);
    transition: 2s;
  }

  .mobile-list li {
    width: 100%;
  }

  .menu-secundario {
    gap: 60px;
  }
}

@media (max-width: 425px) {

  header {
    height: 70px;
  }

  header .logo {
    width: 100px;
  }

  .menu {
    top: 70px;
  }

  .menu-secundario {
    gap: 20px;
  }
}
