header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: .5px solid rgba(204, 204, 204, .5);
}

.menu {
  display: flex;
  gap: 40px;
  align-items: center;

  position: relative;
}

.menu a {
  display: flex;
  align-items: center;
  gap: 8px;

  padding-top: 10px;
  padding-bottom: 10px;
}

.menu a:hover {
  color: var(--cor-8);
}

.img-carrinho {
  position: relative;
}

.cart-quantity {
  content: "0";
  color: #ffffff;
  font-size: .7rem;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;
  background: #7D3F92;
  position: absolute;
  left: 16px;
  bottom: 10px;
  border-radius: 50%;
}

[data-menu="button"] {
  display: none;
}

@media (max-width: 425px) {

  [data-menu="button"] {
    display: initial;
  }

  [data-menu="list"] {
    display: none;
  }

  .mobile-button {
    padding: 8px;
    background: var(--cor-d5);
  }

  .menu {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    align-items: start;
    flex-direction: column;
    gap: 0px;
    z-index: 2;
  }

  .mobile-list {
    background: var(--cor-0);
  }

  .mobile-list li {
    width: 100%;
  }

}

/* Menu secundario */

.header-secundario {
  padding: 10px 0px;
}

.menu-secundario {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.menu-secundario a {
  display: block;
  padding: 8px 0px;
}

.menu-secundario a:hover {
  color: var(--cor-d5);
}

.menu-secundario a.ativo {
  color: var(--cor-d5);
}



