.home-shapes {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 60px;
  padding-bottom: 60px;
}

.home-shapes h2 {
  text-align: center;
}

.home-shapes-modalidades {
  margin-top: 40px;
  
  border: 1px solid var(--cor-8);
  border-radius: 50px;
  justify-self: center;
}

.home-shapes-modalidades button {
  font: inherit;
  text-transform: inherit;
  color: inherit;

  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;

  cursor: pointer;
}

.home-shapes-modalidades button:hover {
  color: var(--cor-6);
}

.home-shapes-modalidades button.active {
  color: var(--cor-0);
  background: var(--cor-d7);
}

.home-produtos-shapes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  padding-top: 60px;
}

.home-produtos-shapes li {
  display: none;

  padding: 20px;
}

.home-produtos-shapes li.active {
  display: initial;
}

.home-produtos-shapes a {
  display: block;

  padding: 20px;
  border: 1px solid var(--cor-3);
  border-radius: 7px;

  position: relative;
}

/* Efeito de clareamento quando mouse passa por cima */
.home-produtos-shapes a::before {
  content: "";
  background: var(--cor-0);
  opacity: 0;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  transition: .3s;
}

.home-produtos-shapes a:hover::before {
  opacity: .2;
}

@media (max-width: 1024px) {
  .home-shapes-modalidades label {
    padding: 10px;
  }

  .home-produtos-shapes {
    padding-top: 40px;
  }

  .home-produtos-shapes li {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .home-shapes {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .home-shapes-modalidades {
    border: none;
    border-radius: none;

    margin-top: 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .home-shapes-modalidades label {
    border: 1px solid var(--cor-8);
  }

  .home-produtos-shapes {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 425px) {
  .home-shapes {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .home-shapes-modalidades label {
    flex: 1;
    text-align: center;
  }

  .home-produtos-shapes {
    grid-template-columns: 1fr;
    padding-top: 20px;
  }
}

@media (max-width: 375px) {
  .home-produtos-shapes {
    padding-top: 20px;
  }
}


