.main-bg {
  background: var(--cor-d1);
}

.main {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 60px;
  padding-top: 60px;

  position: relative;
}

.main-imagem {
  justify-self: center;
}

.main-novidade {
  position: absolute;

  top: 60px;
  left: 40px;
}

.main-novidade p {
  margin-top: 8px;
}

.main-novidade a {
  display: inline-block;
  margin-top: 12px;
  color: var(--cor-d5);
}

.main-novidade a::after {
  content: "";
  width: 70px;
  height: 2px;
  background: var(--cor-d5);
  display: block;
  
  position: relative;
  top: -2px;
}

.main-titulo h1 {
  margin-top: 60px;
  max-width: 18ch;
}

.main-titulo p {
  margin-top: 20px;
}

@media (max-width: 1024px) {

  .main {
    gap: 40px;
  }

  .main-novidade a::after {
    width: 62px;
  }

  .main-imagem {
    max-width: 400px;
  }
}

@media (max-width: 768px) {

  .main {
    gap: 20px;
  }

  .main-novidade {
    left: 20px;
  }

  .main-novidade a::after {
    width: 54px;
  }

  .main-imagem {
    max-width: 350px;
  }

  .main-titulo h1 {
    margin-top: 40px;
  }
}

@media (max-width: 425px) {

  .main {
    grid-template-columns: auto 1fr;
    padding-top: 20px;
    column-gap: 0px;
    row-gap: 40px;
  }

  .main-titulo {
    grid-row: 1;
    grid-column: 1/-1;
  }

  .main-titulo h1 {
    margin-top: 0px;
  }

  .main-titulo p {
    margin-top: 14px;
  }

  .main-novidade {
    position: initial;
  }
}

@media (max-width: 320px) {

  .main {
    row-gap: 30px;
  }
}


