.shapes-home {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 60px;
}

.shapes-home h2 {
  text-align: center;
}

.shapes-modalidade {
  margin-top: 40px;
  
  border: 1px solid var(--cor-8);
  border-radius: 50px;
  justify-self: center;
}

.shapes-modalidade label {
  font: inherit;
  text-transform: inherit;
  color: inherit;

  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;

  cursor: pointer;
}

.shapes-modalidade label:hover {
  color: var(--cor-6);
}

.shapes-modalidade input:checked + label {
  color: var(--cor-0);
  background: var(--cor-d7);
}

.shapes-produtos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  margin-top: 60px;
}

.shapes-produtos li {
  display: none;

  padding: 20px;
}

.shapes-produtos li.ativo {
  display: initial;
}

.shapes-produtos a {
  display: block;

  padding: 20px;
  border: 1px solid var(--cor-3);
  border-radius: 7px;

  position: relative;
}

/* Efeito de clareamento quando mouse passa por cima */
.shapes-produtos a::before {
  content: "";
  background: var(--cor-0);
  opacity: 0;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: .3s;
}

.shapes-produtos a:hover::before {
  opacity: .2;
}

@media (max-width: 1024px) {
  .shapes-modalidade label {
    padding: 10px;
  }

  .shapes-produtos {
    margin-top: 40px;
  }

  .shapes-produtos li {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .shapes-home {
    margin-top: 40px;
  }

  .shapes-modalidade {
    border: none;
    border-radius: none;

    margin-top: 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .shapes-modalidade label {
    border: 1px solid var(--cor-8);
  }

  .shapes-produtos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 425px) {
  .shapes-home {
    margin-top: 30px;
  }

  .shapes-modalidade label {
    flex: 1;
    text-align: center;
  }

  .shapes-produtos {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

@media (max-width: 375px) {
  .shapes-produtos {
    margin-top: 20px;
  }
}


