.tecsus-bg {
  background: var(--cor-12);
  padding-top: 60px;
  padding-bottom: 60px;
}

.tecsus > p {
  padding-top: 12px;
}

.tecnologia {
  display: grid;
  grid-template-columns: 5fr 7fr;

  padding-top: 40px;
}

.tecnologia-vantagens {
  height: 460px;
  display: grid;
  align-content: space-between;

  padding-left: 40px;
}

.sustentabilidade {
  display: grid;
  grid-template-columns: 7fr 5fr;

  margin-top: 80px;
}

.sustentabilidade-vantagens {
  height: 460px;
  display: grid;
  align-content: space-between;

  padding-right: 40px;
}

.tecnologia-imagem img,
.sustentabilidade-imagem img {
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.tecnologia-vantagens li,
.sustentabilidade-vantagens li{
  display: grid;
  grid-template-columns: auto 1fr;
}

.tecnologia-vantagens h3,
.sustentabilidade-vantagens h3 {
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.tecnologia-vantagens p,
.sustentabilidade-vantagens p {
  grid-column: 1/-1;
  padding-top: 12px;
}

.tecnologia-vantagens a {
  padding-left: 8px;
}

@media (max-width: 768px) {
  .tecsus-bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .sustentabilidade {
    margin-top: 60px;
  }

  .tecnologia-vantagens,
  .sustentabilidade-vantagens {
    height: 380px;
  }

  .tecnologia-vantagens {
    padding-left: 20px;
  }

  .sustentabilidade-vantagens {
    padding-right: 20px;
  }

  .tecnologia-vantagens h3,
  .sustentabilidade-vantagens h3 {
    padding-left: 8px;
  }

  .tecnologia-vantagens p,
  .sustentabilidade-vantagens p {
    padding-top: 12px;
  }

  .tecnologia-imagem img,
  .sustentabilidade-imagem img {
    height: 380px;
  }
}

@media (max-width: 425px) {
  .tecsus-bg {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .tecnologia,
  .sustentabilidade {
    grid-template-columns: 1fr;
  }

  .tecnologia {
    padding-top: 30px;
  }

  .sustentabilidade {
    margin-top: 40px;
  }

  .tecnologia-vantagens,
  .sustentabilidade-vantagens {
    height: auto;
    padding: 20px 0px 0px 0px;
  }

  .tecnologia-vantagens li + li,
  .sustentabilidade-vantagens li + li {
    padding-top: 20px;
  }

  .sustentabilidade-imagem {
    grid-row: 1;
  }

  .tecnologia-imagem img,
  .sustentabilidade-imagem img {
    height: 300px;
  }
}

@media (max-width: 375px) {
  .tecnologia-imagem img,
  .sustentabilidade-imagem img {
    height: 250px;
  }
}

@media (max-width: 320px) {
  .tecnologia-imagem img,
  .sustentabilidade-imagem img {
    height: 200px;
  }
}





