.form-address {
  display: grid;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 60px;
}

.form-address form {
  margin-top: 20px;
}

.form-address label {
  display: block;
}

.form-address span + label {
  margin-top: 8px;
}

.form-address input {
  width: 260px;
}

.form-address button {
  margin-top: 12px;
}

.action-address-sucessfull {
  display: grid;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 60px;
}

.action-address-sucessfull a {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 12px;
}


[data-formaddress="register-container-active"],
[data-formaddress="register-sucessfull-active"] {
  display: grid;
}

[data-formaddress="register-container"],
[data-formaddress="register-sucessfull"] {
  display: none;
}