.my-favorites {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: start;
  gap: 20px;
}

.favorite-product {
  display: grid;
  justify-content: center;
}

@media (max-width: 768px) {

  .my-favorites {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 425px) {

  .my-favorites {
    grid-template-columns: repeat(2, 1fr);
  }
}
