.my-info {
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
}

.my-info .mini-container.change {
  padding: 10px;
}

.my-info h3 {
  position: absolute;
  padding-left: 4px;
  padding-right: 4px;
  top: -9px;
  left: 8px;
  background: var(--cor-0);
}

.btn-container:hover {
  color: var(--cor-d4);
}

.btn-container.save {
  bottom: -7px;
  right: 100px;
}

.btn-container.edit,
.btn-container.cancel,
.btn-container.address,
.btn-container.last-order {
  bottom: -7px;
  right: 20px;
}

.btn-container.cancel {
  color: red;
}

.btn-container.cancel:hover {
  color: rgb(255, 75, 75);
}

.my-info li {
  display: grid;
}

.my-info li + li {
  padding-top: 6px;
}

.my-info button {
  width: 100%;
  padding: 9px 0px 9px 0px;
  margin-top: 8px;
}

.my-info button:hover {
  cursor: pointer;
  background-color: var(--cor-d2);
}

.my-info input {
  padding: 4px;
  display: inline-block;
}

.last-order img {
  padding-top: 5px;
  margin: 0 auto;
}

.last-order ul {
  padding-top: 5px;
}

.form-myinfo label {
  display: block;
}

.form-myinfo input + label {
  padding-top: 6px;
}

.form-myinfo div {
  padding-top: 6px;
}

.form-myinfo div span {
  display: block;
}


/* Containers */

[data-myinfo="show-myinfo"],
[data-myinfo="form-myinfo"] {
  display: none;
}

[data-myinfo="show-myinfo-active"],
[data-myinfo="form-myinfo-active"] {
  display: initial;
}


/* Botões edição */
[data-myinfo="edit"],
[data-myinfo="edit-save"],
[data-myinfo="edit-cancel"] {
  display: none;
}

[data-myinfo="edit-active"],
[data-myinfo="edit-save-active"],
[data-myinfo="edit-cancel-active"] {
  display: initial;
}
