.my-orders {
  display: grid;
  align-content: start;
  row-gap: 12px;
}

.order {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 2fr;
  padding: 8px 20px;
  border: 1px solid var(--cor-10);
  cursor: pointer;
}

.order div {
  text-align: center;
}

.order:hover {
  border: 1px solid var(--cor-d4);
}

.order .details {
  grid-column: 1/-1;
} 

.order .details.active {
  display: initial;
}

.order .info {
  margin-top: 20px;
  text-align: start;
  border-top: 1px solid var(--cor-2);
}

.order .product {
  display: grid;
  grid-template-columns: auto repeat(5, 1fr);
  align-items: center;
  gap: 40px;
  border-top: 1px solid var(--cor-2);
}

.order .product img {
  width: 100px;
  height: 100px;
}

@media (max-width: 425px) {
  
  .order {
    grid-template-columns: 1fr 2fr;
    row-gap: 20px;
  }

  .order .product {
    grid-template-columns: auto 1fr;
    row-gap: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: start;
  }

  .order .product a {
    grid-row: 1/6;
  }
}
