.my-orders {
  display: grid;
  align-content: start;
  row-gap: 12px;
}

.order {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 2fr;
  padding: 8px 20px;
  border: 1px solid var(--cor-10);
  cursor: pointer;
}

.order div {
  text-align: center;
}

.order:hover {
  border: 1px solid var(--cor-d4);
}

.order .details {
  display: none;
  grid-column: 1/-1;
}

.order .details.active {
  display: initial;
}
