.my-orders {
  display: grid;
  align-content: start;
  row-gap: 12px;
}

.order {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 2fr;
  padding: 8px 20px;
  border: 1px solid var(--cor-10);
  cursor: pointer;
}

.order div {
  text-align: center;
}

.order:hover {
  border: 1px solid var(--cor-d4);
}

.order .details {
  /* display: none; */
  grid-column: 1/-1;
} 

.order .details.active {
  display: initial;
}

.order .info {
  margin-top: 20px;
  text-align: start;
  border-top: 1px solid var(--cor-2);
}

.order .product {
  display: grid;
  grid-template-columns: auto repeat(5, 1fr);
  align-items: center;
  gap: 40px;
  border-top: 1px solid var(--cor-2);
}

.order .product img {
  width: 100px;
  height: 100px;
}
