.new-address {
  display: grid;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 60px;
}

.new-address form {
  margin-top: 20px;
}

.new-address label {
  display: block;
}

.new-address span + label {
  margin-top: 12px;
}

.new-address button {
  margin-top: 12px;
}

.register-address-sucessfull {
  display: grid;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 60px;
}

.register-address-sucessfull a {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 12px;
}


[data-newaddress="register-container-active"],
[data-newaddress="register-sucessfull-active"] {
  display: grid;
}

[data-newaddress="register-container"],
[data-newaddress="register-sucessfull"] {
  display: none;
}