.shapes-banner {
  background: #FFA200;

  position: relative;
}

.shapes-banner h1 {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shapes-banner img {
  margin: 0 auto;
}

.produtos {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.produtos-filtro {
  width: 260px;
}

.produtos-filtro .filtro + .filtro {
  margin-top: 40px;
}

.filtro h3 {
  text-align: center;
  margin-bottom: 12px;
}

.filtro-botoes {
  display: flex;
  flex-direction: column;
  max-height: 130px;
  overflow-y: scroll;
}


.filtro-botoes button {
  flex: 1;
  font: inherit;
  padding: 6px 20px;
  margin-bottom: 8px;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 5px;
}

.filtro-botoes button:hover {
  color: var(--cor-d5);
  border: 1px solid var(--cor-d5);
}

.produtos-shapes {
  display: grid;
  grid-template-columns: repeat(3, 260px);
  gap: 40px;
}

.produtos-shapes li {
  display: none;
}

.produtos-shapes a {
  display: block;
  border: 1px solid var(--cor-3);
  border-radius: 7px;

  position: relative;
}

.produtos-shapes a::before {
  content: "";
  position: absolute;
  opacity: 0;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--cor-0);
  transition: .3s;
}

.produtos-shapes a:hover::before {
  opacity: .2;
}

.produtos-shapes h3 {
  padding-left: 14px;
  padding-bottom: 14px;
}

.produtos-shapes img {
  margin: 0 auto;
}

.produtos-shapes li.ativo {
  display: initial;
}

