#shapes-produtos .banner {
  background: #FFA200;
}

.banner {
  position: relative;
}

.banner h1 {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: -1px 0 var(--cor-8), 0 1px var(--cor-8), 1px 0 var(--cor-8), 0 -1px var(--cor-8);
}

.banner img {
  margin: 0 auto;
}

.produtos {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.produtos-itens {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.produtos-itens h3 {
  padding-left: 20px;
}

.produtos-filtro {
  width: 260px;
}

.produtos-filtro .filtro {
  margin-bottom: 40px;
}

.filtro-botoes {
  display: flex;
  flex-direction: column;
  height: 130px;
  overflow-y: scroll;
}

.filtro-botoes button {
  flex: 1;
  font: inherit;
  padding: 6px 20px;
  margin-bottom: 8px;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 5px;
}

.filtro-botoes button:hover {
  color: var(--cor-d5);
  border: 1px solid var(--cor-d5);
}

.filtro-botoes button.selecionado {
  color: var(--cor-0);
  background: var(--cor-d5);
}

.produtos li {
  display: none;
}

.produtos a {
  display: block;
  border: 1px solid var(--cor-3);
  border-radius: 7px;

  position: relative;
}

.produtos a::before {
  content: "";
  position: absolute;
  opacity: 0;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--cor-0);
  transition: .3s;
}

.produtos a:hover::before {
  opacity: .2;
}

.produtos h3 {
  padding-bottom: 14px;
}

.produtos img {
  margin: 0 auto;
}

.produtos li.ativo {
  display: initial;
}

[data-filter='menu'] {
  display: none;
}

.products-mobile-options {
  padding-bottom: 10px;
}

.products-mobile-options button {
  padding: 8px;
  border: 1px solid var(--cor-8);
}

@media (max-width: 1024px) {

  .produtos-itens {
    grid-template-columns: 1fr 1fr;
  }
}


@media (max-width: 768px) {

  [data-filter='menu'] {
    display: grid;
  }

  [data-filter='list'] {
    display: none;
  }

  [data-filter='list-options'] {
    display: none;
  }

  .produtos {
    grid-template-columns: 1fr;
    padding-top: 10px;
    gap: 20px;
  }

  .produtos h3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .filtro {
    border-top: 1px solid var(--cor-8);
  }

  .filtro.selected h3 {
    color: var(--cor-d5);
  }

  .filtro:last-child {
    border-bottom: 1px solid var(--cor-8);
  }

  .filtro-botoes button {
    width: 100%;
  }

  .produtos-filtro {
    width: 100%;
  }

  .produtos-filtro .filtro {
    margin-bottom: 0px;
  }
}

